$background: url('/static/img/bg.png') no-repeat fixed;

//colors
$blue: #465A65;
$gray: #E4E4E4;
$white: #ffffff;

$text-color: $white;
//$overlay-background: rgba(150, 150, 150, 0.8);
$overlay-background: rgba($blue, 0.6);